/* GENERAL*/

*, *:after, *:before{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body{
    font-family: 'Crimson Text', serif;
}

hr{
    border: 0.5px solid #e2e2e2;
}

/* NavBar */
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    align-items: center;
    padding: 4px 14px;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
}

nav img{
    padding-top: 4px;
    width: 198px;
}

.nav-buttons{
 background-color: rgb(86, 123, 149);
 color: white;
 border: 1px solid rgb(50, 104, 145);
 border-radius: 3px;
 padding: 9px;
}

.space-cosmos:hover{
    text-decoration: underline;
}



.material-icons{
    font-size: 20px !important;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.left-nav{
    display: flex;
    align-items: center;
}

/* Main */
.principal-img{
    width: 100%;

}

.img-mainNew{
    display: flex;
    flex-direction: column;
    width: 80%;  
    margin: auto;
}

.img-mainNew figcaption{
    width: 85%;
    line-height: 25px;
}




h1{
    font-style: italic;
    width: 600px;
    margin: auto;
    padding: 50px 0px 25px;
}

.first-text-container{
    width: 48%;
    margin: auto;
    line-height: 30px;
}


.head-new{
    display: flex;
    justify-content: space-between;
}

.head-new-buttons span{
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 2px;
    background-color: #eee;
    border-radius: 50%;
}

.media-icon{
    width: 15px;
}

.bookmark{
    width: 12px;
}

/**/

.font-ch{font-family: 'Crimson Text', serif;}
.font-imp{font-family: 'Roboto Mono', monospace;}
.font-fr{font-family: Arial, Helvetica, sans-serif;}
.font-40{font-size: 40px;}
.font-23{font-size: 23px;}
.font-18{font-size: 18px;}
.font-16{font-size: 16px;}
.font-15{font-size: 15px;}
.font-14{font-size: 14px;}
.font-13{font-size: 13px;}
.font-12{font-size: 12px;}
.font-11{font-size: 11px;}
.font-10{font-size: 10px;}
.bold{font-weight: bold;}
.darkgray{color: #333;}
.mediumgray{color: #666;}
.lightgray{color: #888;}

/* menu-footer */

.footertitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px double #e2e2e2;
    padding: 8px 0px;
}

.footertitle img{
    width: 200px;
}

.navfooter{
    margin: 0px 35px;
    padding: 0px 40px 9px;
    border-bottom: 1p solid #e2e2e2;
}

.footer-all-columns{
    display: flex;
    justify-content: space-between;
}

.subscribefooter{
    border-left: 0.5px solid #e2e2e2;
    padding: 15px;
    width: 197px;;
}

.footer-column{
    line-height: 25px;
}
h6{
    font-weight: bold;
}

li img {
    padding: 0px 2px;
}
/* footer */

footer ul{
    display: flex;
    justify-content: space-around;
    width: 77%;
    margin: auto;
    letter-spacing: -1px;
    padding-bottom: 25px;
}

